In [3]:
import dhlab.nbtext as nb
import dhlab.module_update as mu
mu.update('collocations', overwrite=True)
from collocations import dist_coll, create_collocations
from numpy import log

Updated file `C:\Users\larsj\Documents\GitHub\Ordbok_og_leksikografi\collocations.py`

In [14]:
urn_coll??

In [57]:
inspect = lambda harry, w: harry.loc[w] if w in harry.index else 0

def dist(obs_mean, expected, freq):
    factor = ((freq-1)/(freq))*obs_mean
    ratio = obs_mean/(obs_mean - factor)
    return round(obs_mean + (expected - obs_mean)/ratio,2)

show = lambda harry, cutoff: harry[harry.freq > cutoff].sort_values(by='score')

def calculate_midpoint(before, after):
    if before == 0:
        corr = 1
    elif after == 0:
        corr = -1
    else:
        corr = 0
    return (after - before + corr)/2
    

def create_collocations(words, corpus, before=None, after=None):
    if before == None or after== None:
        print('husk before og after')
        return
    colls = dict()
    for character in words:
        colls[character] = urn_coll(character, nb.pure_urn(corpus), before=before, after=after)
    frames = dict()
    for c in colls:
        frames[c] = nb.frame({'dist':colls[c][1], 'freq':colls[c][0]}).transpose()

    for c in frames:
        frames[c]['dist'] = round(frames[c].dist, 2)

    for c in frames:
        frames[c]['score'] = dist(frames[c].dist, calculate_midpoint(before, after), frames[c].freq)
    return frames

def dist_coll(word, corpus, before=None, after=None):
    
    if before == None or after== None:
        print('husk before og after')
        return
    
    coll = urn_coll(word, nb.pure_urn(corpus), before=before, after=after)
    coll.dist = round(coll.dist, 2)
    coll['score'] = dist(coll.dist, calculate_midpoint(before, after), coll.freq)
    
    return coll

def create_frame(coll, expected):
    df = nb.frame(nb.frame(coll).transpose(), 'freq doc dist'.split())
    df['score'] = dist(df['dist'], expected, df['freq'])
    return df

def colls2df(colls, expected):
    colls_df = dict()
    for c in colls:
        colls_df[c] = create_frame(colls[c], expected)
    return colls_df

    
def make_collocations(word, yeafrom, yearto, step, before = 0, after = 10):
    colls = dict()
    step = 3
    for year in range(perio[0], period[1], step):
        print('behandler: ', year, year + step)
        colls[(year, year + step)] = collocation('kreft', yearfrom=year, yearto=year + step, corpus='avis', before= 0, after = 20)
    if before == 0:
        pos_from = -1
    else:
        pos_from = -before
    if after == 0:
        pos_to = 1
    else:
        post_to = after
    colls_df = colls2df(colls, (pos_to + pos_from)/2)
    return colls_df                


score_df = lambda df: nb.frame({x:df[x]['score'] for x in df }).transpose()
display_vals = lambda kr_df, word, clip = 0: kr_df[kr_df >= clip].loc[word]
show_frame = lambda df, colnum = 0,  clip = 0, up = True: df[df >= clip].sort_values(by = df.columns[colnum], ascending=up)

#

In [47]:
corpus = nb.book_corpus(words=['kaffe'], limit=100)
corpus.head()

             urn             author                        title  year
0  2013043007009       Bakkeli, Tom     Norges hemmelige krigere  2007
1  2008020804048       Solli, Svein                 Granneskjemt  1995
2  2013061708095  Sivertsen, Sigurd        Rømlingen Jens Wærner  1923
3  2013043007085  Napstad, Svanhild  Som gardslampa heme på Biri  2007
4  2010070608031                                           TreBi  1998

In [65]:
corpus0 = nb.book_corpus(words=['spiser'], limit=100)
corpus0.head()

,urn,author,title,year
0,2009112604044,"Dypedal, Harald",Grønnsaker på friland,1996
1,2009031600081,"Moen, Asbjørn",Botanisk kartlegging og plan for skjøtsel av T...,2000
2,2007080704014,"Vaag, Arne B.",Forslag til landsplan for forvaltning av bjørn...,1986
3,2010041903096,"Nyquist, Arild",Reisen til Drammen,1995
4,2014040406124,"Sogstad, Maren Kristine Raknes",Evaluering av dagtilbud for kreftpasienter ved...,2011

In [25]:
urn_coll('kaffe', nb.pure_urn(corpus))

             freq      dist
!             2.0 -4.500000
"             5.0 -2.000000
%             1.0 -2.000000
'             9.0  1.750000
(            11.0  2.095238
)             9.0  0.733333
*             1.0 -4.000000
+             2.0 -3.500000
,           331.0 -0.254780
-            36.0  0.587302
.           312.0  0.697764
...           4.0  1.666667
/             4.0 -2.500000
0,08          1.0 -3.000000
03            2.0  0.000000
09.01         2.0  2.000000
1             7.0 -1.916667
10            2.0 -0.500000
100           1.0 -2.000000
10000         1.0 -2.000000
12            2.0 -0.500000
120           1.0 -2.000000
13            1.0  4.000000
131           1.0 -5.000000
15            2.0 -1.000000
165           1.0  4.000000
17            1.0  4.000000
18            1.0 -1.000000
185           1.0  2.000000
187           1.0 -5.000000
...           ...       ...
§             1.0  2.000000
«            33.0  0.330159
«Hvorfor      1.0  5.000000
»            38.0  1.147186
Å             2.0  4.000000
Åsa           1.0  5.000000
Åssen         1.0  5.000000
Øistein       1.0  3.000000
å            46.0 -1.380952
åker          1.0  4.000000
åleiten       1.0 -4.000000
åpnet         1.0  5.000000
år            4.0 -4.250000
året          1.0  2.000000
årlige        1.0 -3.000000
åt            3.0  2.000000
æ             1.0  4.000000
æg            1.0  4.000000
øl            1.0  4.000000
ønsket        1.0  3.000000
ørande        1.0 -2.000000
øre           1.0 -2.000000
ørlite        1.0 -2.000000
øya           1.0  5.000000
øyeblikk      2.0  0.000000
übesværede    1.0  3.000000
üblandet      1.0  2.000000
—             9.0  1.166667
„             1.0  2.000000
►             1.0  3.000000

[1668 rows x 2 columns]

In [29]:
kaffe = dist_coll('kaffe', corpus, before=10, after=0)

In [34]:
kaffe.sort_values(by='freq', ascending=False)[:20]

       freq  dist  score
,     281.0 -5.55  -5.55
.     266.0 -6.80  -6.80
og    213.0 -4.48  -4.48
en    122.0 -3.97  -3.98
med   107.0 -4.29  -4.30
på    101.0 -5.40  -5.40
kopp   71.0 -1.24  -1.30
i      70.0 -5.89  -5.88
å      60.0 -4.94  -4.95
til    59.0 -4.84  -4.85
det    54.0 -6.23  -6.22
han    51.0 -5.72  -5.72
av     51.0 -4.21  -4.24
seg    49.0 -5.18  -5.19
-      44.0 -7.11  -7.07
er     44.0 -6.49  -6.47
«      36.0 -6.10  -6.08
vi     35.0 -5.28  -5.29
var    34.0 -7.37  -7.32
et     33.0 -6.03  -6.01

In [37]:
kaffe.sort_values(by='score', ascending=False)[:20]

          freq  dist  score
kopp      71.0 -1.24  -1.30
koke      14.0 -1.28  -1.58
varm      13.0 -1.40  -1.72
svart      5.0 -1.00  -1.90
sterk     17.0 -1.73  -1.95
skvett     5.0 -1.12  -2.00
drakk     32.0 -1.90  -2.01
serverte   4.0 -1.00  -2.12
bestilte   4.0 -1.25  -2.31
kokte     15.0 -2.13  -2.35
kjøpe      6.0 -1.75  -2.38
kopper    12.0 -2.17  -2.45
drikke    13.0 -2.29  -2.54
helte      6.0 -2.12  -2.68
kald       4.0 -1.75  -2.69
koker      5.0 -2.00  -2.70
slurk      3.0 -1.33  -2.72
skjenket   9.0 -2.44  -2.78
rykende    3.0 -1.50  -2.83
drikker   14.0 -2.63  -2.84

In [66]:
spise = dist_coll('spiser', nb.pure_urn(corpus0), before=0, after=20)

In [67]:
spise.sort_values(by='freq', ascending=False)[:10]

      freq   dist  score
.    477.0   9.84   9.84
,    369.0  10.21  10.21
og   267.0  10.84  10.84
i    162.0  10.80  10.80
er   137.0  12.08  12.07
?    122.0   8.26   8.28
på   109.0  11.67  11.66
det  107.0  10.79  10.79
av    96.0  10.85  10.85
med   95.0  10.25  10.25

In [68]:
spise.sort_values(by='score', ascending=True)[:10]

         freq  dist  score
middag   19.0  2.96   3.36
drikker  19.0  3.28   3.66
frokost  23.0  3.52   3.82
pr.       3.0  1.00   4.17
ost       6.0  3.08   4.32
pizza     4.0  2.50   4.50
kjøtt     3.0  1.50   4.50
lunsj    10.0  4.08   4.72
bær       5.0  3.33   4.76
mett      3.0  2.00   4.83